#buttonup {
    display: inline-block;
    background-color: #1F1D36;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #buttonup::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.4em;
        line-height: 40px;
        color: #fff;
    }

    #buttonup:hover {
        cursor: pointer;
        background-color: #333;
    }

    #buttonup:active {
        background-color: #555;
    }

    #buttonup.show {
        opacity: 1;
        visibility: visible;
    }
